/* GLOBAL STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    position: relative;
    /* border: 50px solid red; */
}

/* HEADER */

header {
    height: 60vh;
    background-image: url("images/image-hero-desktop.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 3vw 8vw;
    position: relative;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    color: white;
}

nav ul li a {
    color: white;
}


/* MAIN */
main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    background-color: white;
    top: -100px;
    z-index: 1;
}

.body-header,
.body-numbers-div,
.body-about,
section .article
{
    padding: 40px;
    box-shadow: 0 0 3px #888888;
    border-radius: 4px;
    margin: 20px 0;
}

/* BODY HEADER */

.body-header {
    text-align: center;
}

.body-header img {
    position: absolute;
    top: -35px;
    width: fit-content;
}

.body-header h1 {
    font-weight: 900;
    font-size: 1.5rem;

}

.body-header  p{
    font-weight: 500;
    color: hsl(0, 0%, 48%);
    font-size: .9rem;
    margin-top: 10px;
    margin-bottom: 30px;
}

.body-header-btn {
    display: flex;
    justify-content: space-between;
}

.body-header-btn  button,
.article .article-footer button
{
    background-color: hsl(176, 72%, 28%);
    border-radius: 40px;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.body-header-btn  button:nth-child(2){
    color: hsl(176, 72%, 28%);
    background-color: hsl(0, 0%, 95%);
    border-radius: 0 40px 40px 0 ;

}

.body-header-btn  button i {
    position: absolute;
    left: -30px;
    padding: 10px;
    background-color: hsl(176, 72%, 28%);
    color: white;
    border-radius: 50%;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* BODY NUMBERS */

.body-numbers {
    display: flex;
    text-align: center;
    display: flex;
}

.body-numbers > div {
    width: 100%;
    text-align: left;
    padding-left: 40px;
    border-right: 2px solid #eee;
}

.body-numbers > div:first-child {
    padding-left: 0;
}

.body-numbers > div:last-child {
    border-right: none;
}


.body-numbers > div p {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 2.5rem;
}

.body-numbers > div span {
    color: hsl(0, 0%, 48%);
    font-size: 0.8rem;
    font-weight: 500;

}

.body-numbers-div .range {
    height: 10px;
    border-radius: 50px;
    background-color: #eee;
    /* background-color: hsl(176, 72%, 28%); */
    margin: 20px 0 0;
}

.body-numbers-div .range-value {
    height: 100%;
    width: 80%;
    border-radius: 50px;
    background-color: hsl(176, 72%, 28%);
}


/* BODY ABOUT */
.body-about h2, 
.back-project-modal h2
{
    font-size: 1.2rem;
    font-weight: 900;
}

.body-about p,
.back-project-modal p
{
    font-size: 1rem;
    color: hsl(0, 0%, 48%);
    margin: 30px 0;
    line-height: 1.7rem;
}

section .article {
    box-shadow: 0 0 5px #888888;
}

.article .article-head,
.article .article-footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article .article-head span,
.back-project-options h3
{
    font-weight: 900;
    font-size: .8rem;
    color: hsl(176, 50%, 47%);
    cursor: pointer;
}

.article .article-footer div {
    font-weight: 900;
    font-size: 1.6rem;
}

.article .article-footer span {
    font-size: 1rem;
    color: hsl(0, 0%, 48%);
    vertical-align: super;
}

.article.blur{
    filter: opacity(50%);
}

article.blur .article-footer button {
    background-color: hsl(0, 0%, 48%);
}


/* Modal-Selected */
.modal-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.back-project-modal {
    display: none;
    /* position: fixed; */
    border-radius: 20px;
    padding: 30px;
    height: 90vh;
    width: 600px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 3px #888888;
    z-index: 2;
}

.backdrop {
    /* display: none; */
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: black;
    opacity: 0.5;
    z-index: 1;
  }

.back-project-modal .back-project-header {
    position: relative
}

.modal-close {
    position: absolute;
    top: -10px;
    right: 0;
}

.modal-close i{
    font-size: 1.2rem;
    font-weight: 900;
    cursor: pointer
}

.back-project-modal p {
    margin: 10px 0;
    font-size: .85em;
}

.back-project-options {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    padding: 20px;
    border: 2px solid #eee;
    border-radius: 4px;
    margin: 15px 0;
}

.back-project-options input[type=radio] {
    height: 35px;
    width: 35px;
    
}
